# Demographic form

In [25]:
import os

import pandas as pd

In [53]:
demographic_csv_path = os.path.join(csv_files_path, "demographic.csv")
demographic_df = pd.read_csv(demographic_csv_path)
demographic_df

,Identifiant,Demographic Horodateur,Année d'étude,Genre,Outils gamifiés déjà utilisés ?,Compétences java,Compétences en écriture de test,Motivation initiale à écrire des tests
0,9,17/04/2025 08:47:23,Passerelle,Homme,"Duolingo, Kahoot!",4,4,4
1,23,17/04/2025 08:47:58,Passerelle,Homme,"Duolingo, Kahoot!",4,4,3
2,39,17/04/2025 08:48:02,BAC 3,Homme,"Duolingo, Kahoot!",2,1,2
3,36,17/04/2025 08:48:03,Passerelle,Homme,"Duolingo, Kahoot!",4,3,4
4,8,17/04/2025 08:48:08,Passerelle,Homme,Duolingo,4,3,2
5,42,17/04/2025 08:48:15,BAC 3,Homme,"Duolingo, Kahoot!",2,2,1
6,47,17/04/2025 08:48:17,BAC 3,Homme,"Duolingo, Kahoot!, CodeCombat, GitHub Achievem...",4,2,2
7,100,17/04/2025 08:48:18,BAC 3,Homme,Duolingo,2,1,3
8,92,17/04/2025 08:48:19,BAC 2,Femme,"Duolingo, Kahoot!",3,2,3
9,71,17/04/2025 08:48:21,Passerelle,Homme,"Duolingo, Kahoot!",4,3,2
10,119,17/04/2025 08:48:21,BAC 3,Femme,Duolingo,1,2,1
11,50,17/04/2025 08:48:21,BAC 3,Autre,NaN,3,2,4
12,91,17/04/2025 08:48:23,BAC 3,Homme,"Duolingo, Kahoot!",2,3,1
13,81,17/04/2025 08:48:23,BAC 3,Homme,"Duolingo, Kahoot!",2,2,4
14,77,17/04/2025 08:48:24,BAC 3,Homme,Duolingo,2,2,1
15,31,17/04/2025 08:48:25,Passerelle,Homme,"Duolingo, Kahoot!",4,2,2
16,Selice,17/04/2025 08:48:26,BAC 3,Homme,"Duolingo, Kahoot!",1,2,2
17,68,17/04/2025 08:48:28,Passerelle,Homme,Duolingo,3,3,3
18,30,17/04/2025 08:48:34,Passerelle,Femme,NaN,3,3,3
19,hicarlie,17/04/2025 08:48:34,BAC 3,Homme,"Duolingo, Kahoot!",3,2,1
20,83,17/04/2025 08:48:35,BAC 3,Homme,"Duolingo, Kahoot!",3,3,4
21,iessarhi,17/04/2025 08:48:37,BAC 3,Homme,"Duolingo, Kahoot!",3,2,1
22,48,17/04/2025 08:48:40,BAC 3,Homme,"Duolingo, Kahoot!",3,2,1
23,40,17/04/2025 08:48:40,BAC 3,Femme,Duolingo,2,2,1
24,70,17/04/2025 08:48:44,BAC 3,Homme,codewars ou moins),3,3,3
25,96,17/04/2025 08:48:49,BAC 3,Homme,NaN,2,2,1
26,26,17/04/2025 08:48:52,BAC 3,Homme,NaN,2,1,2
27,3,17/04/2025 08:48:54,BAC 3,Homme,NaN,2,3,3
28,54,17/04/2025 08:48:59,BAC 3,Homme,Duolingo,1,1,1
29,73,17/04/2025 08:49:05,BAC 3,Homme,Kahoot!,3,3,4
30,1,17/04/2025 08:49:09,BAC 3,Femme,"Duolingo, Kahoot!",3,3,4
31,67,17/04/2025 08:49:09,BAC 3,Femme,Duolingo,2,2,2
32,28,17/04/2025 08:49:10,BAC 3,Homme,"Duolingo, Kahoot!",2,1,3
33,86,17/04/2025 08:49:11,BAC 3,Femme,NaN,3,2,4
34,107,17/04/2025 08:49:12,BAC 3,Homme,Duolingo,2,3,2
35,15,17/04/2025 08:49:14,BAC 3,Femme,"Duolingo, Kahoot!",3,1,2
36,104,17/04/2025 08:49:16,BAC 3,Homme,NaN,3,3,3
37,32,17/04/2025 08:49:24,BAC 2,Homme,NaN,3,3,2
38,72,17/04/2025 08:49:50,Passerelle,Homme,Duolingo,3,2,4
39,56,17/04/2025 08:50:01,Passerelle,Femme,GitHub Achievements,3,2,3
40,2,17/04/2025 08:50:26,Passerelle,Homme,"Duolingo, Kahoot!",3,1,1
41,35,17/04/2025 08:53:07,BAC 3,Homme,Duolingo,2,3,2
42,86,17/04/2025 09:31:47,BAC 3,Femme,NaN,3,2,2
43,56,17/04/2025 09:32:26,Passerelle,Femme,GitHub Achievements,3,3,3
44,52,17/04/2025 09:32:30,BAC 3,Homme,"Duolingo, Kahoot!",3,2,1

## Duplicated identifier

In [59]:
duplicated = demographic_df[demographic_df.duplicated(subset=["Identifiant"], keep=False)]
duplicated

,Identifiant,Demographic Horodateur,Année d'étude,Genre,Outils gamifiés déjà utilisés ?,Compétences java,Compétences en écriture de test,Motivation initiale à écrire des tests
33,86,17/04/2025 08:49:11,BAC 3,Femme,NaN,3,2,4
39,56,17/04/2025 08:50:01,Passerelle,Femme,GitHub Achievements,3,2,3
42,86,17/04/2025 09:31:47,BAC 3,Femme,NaN,3,2,2
43,56,17/04/2025 09:32:26,Passerelle,Femme,GitHub Achievements,3,3,3

In [64]:
demographic_df = demographic_df.drop_duplicates(subset=["Identifiant"], keep="first")
demographic_df

,Identifiant,Demographic Horodateur,Année d'étude,Genre,Outils gamifiés déjà utilisés ?,Compétences java,Compétences en écriture de test,Motivation initiale à écrire des tests
0,9,17/04/2025 08:47:23,Passerelle,Homme,"Duolingo, Kahoot!",4,4,4
1,23,17/04/2025 08:47:58,Passerelle,Homme,"Duolingo, Kahoot!",4,4,3
2,39,17/04/2025 08:48:02,BAC 3,Homme,"Duolingo, Kahoot!",2,1,2
3,36,17/04/2025 08:48:03,Passerelle,Homme,"Duolingo, Kahoot!",4,3,4
4,8,17/04/2025 08:48:08,Passerelle,Homme,Duolingo,4,3,2
5,42,17/04/2025 08:48:15,BAC 3,Homme,"Duolingo, Kahoot!",2,2,1
6,47,17/04/2025 08:48:17,BAC 3,Homme,"Duolingo, Kahoot!, CodeCombat, GitHub Achievem...",4,2,2
7,100,17/04/2025 08:48:18,BAC 3,Homme,Duolingo,2,1,3
8,92,17/04/2025 08:48:19,BAC 2,Femme,"Duolingo, Kahoot!",3,2,3
9,71,17/04/2025 08:48:21,Passerelle,Homme,"Duolingo, Kahoot!",4,3,2
10,119,17/04/2025 08:48:21,BAC 3,Femme,Duolingo,1,2,1
11,50,17/04/2025 08:48:21,BAC 3,Autre,NaN,3,2,4
12,91,17/04/2025 08:48:23,BAC 3,Homme,"Duolingo, Kahoot!",2,3,1
13,81,17/04/2025 08:48:23,BAC 3,Homme,"Duolingo, Kahoot!",2,2,4
14,77,17/04/2025 08:48:24,BAC 3,Homme,Duolingo,2,2,1
15,31,17/04/2025 08:48:25,Passerelle,Homme,"Duolingo, Kahoot!",4,2,2
16,Selice,17/04/2025 08:48:26,BAC 3,Homme,"Duolingo, Kahoot!",1,2,2
17,68,17/04/2025 08:48:28,Passerelle,Homme,Duolingo,3,3,3
18,30,17/04/2025 08:48:34,Passerelle,Femme,NaN,3,3,3
19,hicarlie,17/04/2025 08:48:34,BAC 3,Homme,"Duolingo, Kahoot!",3,2,1
20,83,17/04/2025 08:48:35,BAC 3,Homme,"Duolingo, Kahoot!",3,3,4
21,iessarhi,17/04/2025 08:48:37,BAC 3,Homme,"Duolingo, Kahoot!",3,2,1
22,48,17/04/2025 08:48:40,BAC 3,Homme,"Duolingo, Kahoot!",3,2,1
23,40,17/04/2025 08:48:40,BAC 3,Femme,Duolingo,2,2,1
24,70,17/04/2025 08:48:44,BAC 3,Homme,codewars ou moins),3,3,3
25,96,17/04/2025 08:48:49,BAC 3,Homme,NaN,2,2,1
26,26,17/04/2025 08:48:52,BAC 3,Homme,NaN,2,1,2
27,3,17/04/2025 08:48:54,BAC 3,Homme,NaN,2,3,3
28,54,17/04/2025 08:48:59,BAC 3,Homme,Duolingo,1,1,1
29,73,17/04/2025 08:49:05,BAC 3,Homme,Kahoot!,3,3,4
30,1,17/04/2025 08:49:09,BAC 3,Femme,"Duolingo, Kahoot!",3,3,4
31,67,17/04/2025 08:49:09,BAC 3,Femme,Duolingo,2,2,2
32,28,17/04/2025 08:49:10,BAC 3,Homme,"Duolingo, Kahoot!",2,1,3
33,86,17/04/2025 08:49:11,BAC 3,Femme,NaN,3,2,4
34,107,17/04/2025 08:49:12,BAC 3,Homme,Duolingo,2,3,2
35,15,17/04/2025 08:49:14,BAC 3,Femme,"Duolingo, Kahoot!",3,1,2
36,104,17/04/2025 08:49:16,BAC 3,Homme,NaN,3,3,3
37,32,17/04/2025 08:49:24,BAC 2,Homme,NaN,3,3,2
38,72,17/04/2025 08:49:50,Passerelle,Homme,Duolingo,3,2,4
39,56,17/04/2025 08:50:01,Passerelle,Femme,GitHub Achievements,3,2,3
40,2,17/04/2025 08:50:26,Passerelle,Homme,"Duolingo, Kahoot!",3,1,1
41,35,17/04/2025 08:53:07,BAC 3,Homme,Duolingo,2,3,2
44,52,17/04/2025 09:32:30,BAC 3,Homme,"Duolingo, Kahoot!",3,2,1

## Numbers of student per years

In [80]:
demographic_df["Année d'étude"].value_counts()

Année d'étude
BAC 3         30
Passerelle    11
BAC 2          2
Name: count, dtype: int64

## Levels per years

### Mean

In [81]:
cols = ["Compétences java", "Compétences en écriture de test", "Motivation initiale à écrire des tests"]
demographic_df.groupby("Année d'étude")[cols].mean()

,Compétences java,Compétences en écriture de test,Motivation initiale à écrire des tests
Année d'étude,,,
BAC 2,3.000000,2.500000,2.500000
BAC 3,2.366667,2.100000,2.200000
Passerelle,3.545455,2.727273,2.818182

### Median

In [85]:
cols = ["Compétences java", "Compétences en écriture de test", "Motivation initiale à écrire des tests"]
demographic_df.groupby("Année d'étude")[cols].describe()

              Compétences java                                               \
                         count      mean       std  min  25%  50%  75%  max
Année d'étude
BAC 2                      2.0  3.000000  0.000000  3.0  3.0  3.0  3.0  3.0
BAC 3                     30.0  2.366667  0.718395  1.0  2.0  2.0  3.0  4.0
Passerelle                11.0  3.545455  0.522233  3.0  3.0  4.0  4.0  4.0

              Compétences en écriture de test            ...             \
                                        count      mean  ...   75%  max
Année d'étude                                            ...
BAC 2                                     2.0  2.500000  ...  2.75  3.0
BAC 3                                    30.0  2.100000  ...  3.00  3.0
Passerelle                               11.0  2.727273  ...  3.00  4.0

              Motivation initiale à écrire des tests                           \
                                               count      mean       std  min
Année d'étude
BAC 2                                            2.0  2.500000  0.707107  2.0
BAC 3                                           30.0  2.200000  1.156690  1.0
Passerelle                                      11.0  2.818182  0.981650  1.0


                25%  50%   75%  max
Année d'étude
BAC 2          2.25  2.5  2.75  3.0
BAC 3          1.00  2.0  3.00  4.0
Passerelle     2.00  3.0  3.50  4.0

[3 rows x 24 columns]